<section class="banner-section">
    <div class="container">
<app-sub-header></app-sub-header>

        <div class="row">
            <div class="col-lg-12">
                <div class="DECENTRALIZED-1">
                    <!-- <img class="Mouse-img1" src="assets/images/star-exe.png" alt=""> -->
                    <p class="DECENTRALIZED-p-1">THE BEST SOLUTION <br>
                        TO INCREASE YOUR <br>
                        MATIC COIN (MATIC) COINS
                        </p>
                    <!-- <img class="Mouse-img" src="assets/images/Mouse.png" alt=""> -->
                </div>
            </div>
            <div className="row justify-content-center">
                <div className="col-lg-12" style="text-align: center;">
                <p style="color: #fff; margin-bottom: 20px;" >Are you looking to diversify your digital asset portfolio? Our platform provides a seamless way to convert your USDT coins into FILM tokens, opening up new opportunities in the world of decentralized entertainment and media.</p>
                </div>
            </div>
        </div>
        <!-- <div class="row mar-top">
            <div class="col-lg-8">
                <div class="left-banner">
                    <p class="left-banner-p">COMPLETELY DECENTRALIZED, HUMANS CAN'T SHUT IT DOWN.</p>
                    <p class="left-banner-p-1">Como funciona?</p>
                    <p class="left-banner-p-1">Recebes MATIC em todas as transações!</p>
                    <p class="left-banner-p-2">Cada negociação, de compra ou venda, tem uma taxa de transação fixa de 10% que lhe é aplicada. Em vez ir para o criador do projeto, esta taxa é dividida entre todos os tokens retidos na plataforma!<br>
                    10% de todo o volume que esta criptomoeda gerar é totalmente reservado para vocês, detentores de tokens, como recompensas MATIC que podem sacar instantaneamente, sempre que desejarem.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-banner">
                    <div class="center-d">
                        <iframe width="520" height="290" src="https://www.youtube.com/embed/VHY5dCW3PR4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="center-top">
                    <p class="center-top-p">Every Purchase on the metaverse, the <br> transaction fee will be used
                        to buy <br> trading credits!</p>
                    <p class="center-top-p-1">Every trade, buy or sell, has a 10% flat transaction fee applied.
                        Instead of this going to the BeonVerse platform, the fee is split between everyone holding
                        Trading Credits!
                        10% of all volume this cryptocurrency ever experiences, is set aside for you the token
                        holders, and you can instantly withdraw whenever you'd like. </p>
                </div>
            </div>
        </div> -->
    </div>
</section>

<section class="accordian-custom">
    <img class="acc-img-2" src="assets/images/five-img.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img class="acc-img-256" src="assets/images/graph-new.png" alt="">
            </div>
            <div class="col-lg-7">
                <div class="accor-cus">
                    <div class="accordion" id="accordionExample">
                        <p class="Still-p">  Ainda confuso? Vamos explicar melhor.</p>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    O valor da FILM Token
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="acc-p">Por cada FILM Token adicionado ou removido de circulação, o preço do próximo FILM Token aumenta ou diminui automaticamente numa quantidade fracionária de MATIC (cerca de 0,0000001 MATIC).<br>
                                    Quando os utilizadores compram, os teus FILM Tokens valem um pouco mais e quando vendem, um pouco menos. A exchange trata disso por ti, não precisas de te preocupar com os preços.</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Recompensas de Volume
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="acc-p">Para cada crédito comercial adicionado ou retirado de circulação, o
                                        o preço do próximo token aumenta ou diminui automaticamente em uma fração
                                        quantidade de ETH (cerca de 0,0000001 eth).</p>
                                    <p class="acc-p">Quando as pessoas compram, seus créditos comerciais valem um pouco mais,
                                        quando vendem, um pouco menos. A exchange cuida disso para você, não há necessidade
                                        pense no preço!</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Dividends
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="acc-p">When people buy, your trading credits are worth slightly more,
                                        when they sell, slightly less. The exchange handles this for you, no need to
                                        think about price!</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="complet">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="flex-complet">
                    <p class="COMPLETELY-pp">DESCENTRALIZADO. NINGUÉM PODE ELIMINAR O PROJECTO.</p>
                    <button class="EXCHANGE-bt pointer" routerLink="/buy-sell" style="z-index: 10;">EXCHANGE</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bf-footer">
<section class="wallet-custom">
    <div class="container">
        <div class="row mr-14">
            <div class="col-lg-12">
                <div class="left-banner wallet-only">
                    <p class="left-banner-p">COMPLETAMENTE DESCENTRALIZADO</p>
                    <p class="left-banner-p-1">Download Metamask ou Trust Wallet (mobile)</p>
                    <p class="left-banner-p-2">Talvez por ser o projeto de blockchain mais inovador dos últimos tempos, podes ter algumas dúvidas! Segue estes passos simples para instalar, configurar tua carteira e começares a aumentar as tuas Binance Coins!
                    </p>
                </div>
            </div>
        </div>
        <div class="row mr-13">
            <div class="col-lg-6">
                <div class="wallet-left">
                    <img class="meta-img" src="assets/images/trust.png" alt="">
                    <p class="Setup-Trust">Setup Trust Wallet</p>
                    <p class="Setup-Trust-1">- Usando o teu telemóvel, baixa e instala a Trust Wallet em trustwalletapp.com</p>
                    <p class="Setup-Trust-1">- Cria um novo portfólio e guarda as 12 palavras-semente (seed words) ou chave privada, que serão o backup da tua carteira</p>
                    <p class="Setup-Trust-1">- Abre a Trust Wallet. Na página principal seleciona “Receber” </p>
                    <p class="Setup-Trust-1">- Escolhe a moeda MATIC (Binance Coin) e copia o endereço</p>
                    <p class="Setup-Trust-1">- Vai até à exchange onde tens as tuas MATIC (Binance, Coinbase ou outra) e encontra o recurso “Enviar” ou “Transferir”</p>
                    <p class="Setup-Trust-1">- Cola o endereço que foi copiado da Trust Wallet, especifica a quantidade de MATIC e confirma a transação</p>
                    <p class="Setup-Trust-1">- Aguarda uns momentos até que os fundos cheguem à tua Trust Wallet.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wallet-right">
                    <img class="meta-img" src="assets/images/meta.png" alt="">
                    <p class="Setup-Trust">Setup Metamask</p>
                    <p class="Setup-Trust-1">- Usando o Chrome ou Firefox, instala a extensão da Metamask em metamask.io</p>
                    <p class="Setup-Trust-1">- Cria a uma conta Metamask e guarda as 12 palavras-chave, que serão o backup da tua carteira</p>
                    <p class="Setup-Trust-1">- Abre a Metamask, clique no canto superior esquerdo e seleciona a network “MATIC Chain”</p>
                    <p class="Setup-Trust-1">- Copiar endereço para a área de transferência que se encontra acima do saldo</p>
                    <p class="Setup-Trust-1">- Vai até à exchange onde tens as tuas MATIC (Binance, Coinbase ou outra) e encontra o recurso “Enviar” ou “Transferir”</p>
                    <p class="Setup-Trust-1">- Cola o endereço que foi copiado da Metamask, especifica a quantidade de MATIC e confirma a transação</p>
                    <p class="Setup-Trust-1">- Aguarda uns momentos até que os fundos cheguem à tua Metamask.</p>
                </div>
            </div>
        </div>
        <div class="row mr-12 features-cont">
            <div class="col-lg-4 col-md-6">
                <div class="SPECULATION">
                    <img class="SPECULATION-img" src="assets/images/ic-1.png" alt="">
                    <p class="hd-1">JOGAR</p>
                    <p class="hd-2">Em vez de simplesmente brincar com o preço ao longo do tempo, como acontece com a maioria das criptomoedas, adicionámos volume para ganhares rewards. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="SPECULATION">
                    <img class="SPECULATION-img" src="assets/images/ic-2.png" alt="">
                    <p class="hd-11">DECENTRALIZED, WILL RUN FOREVER.</p>
                    <p class="hd-2">Todo o sistema édescentralizado, operando de forma autónoma. É autogovernado, executado pela rede Binance Smart Chain.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="SPECULATION">
                    <img class="SPECULATION-img" src="assets/images/ic-3.png" alt="">
                    <p class="hd-22">RECOMPENSAS BASEADAS EM VOLUME</p>
                    <p class="hd-2">O Bitcoin está em queda? A ascensão e queda das crypto deixaram-te exausto? O nosso contrato inteligente foi contruído para ser um lugar onde que suas moedas gerem valor, sempre que houver volume de negociação. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="exchange-custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="test-cent">
                    <div class="v-2">
                        <p class="exchange-p">A MELHOR SOLUÇÃO<br> PARA AUMENTARES AS TUAS MOEDAS DA MATIC COIN (MATIC)</p>
                        <button class="EXCHANGE-bt" routerLink="/buy-sell">EXCHANGE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

</div>