<!-- New UI -->
<div class="bx-das">
    <app-sub-header></app-sub-header>

<section class="complet-bit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="box-all">
                    <div class="NEWCOMERS-content">
                        <p class="NEWCOMERS-content-p">GUIA PARA PRINCIPIANTES SOBRE COMO TROCAR MATIC (MATIC COIN) POR FILM TOKEN</p>
                    </div>
                    <div class="NEWCOMERS-content-1">
                        <!--  First Section-->
                        <p class="green-p">Criar e Configurar Trust Metamask (Desktop)</p>
                        <p class="white-p">• Usando o Chrome ou Firefox, instala a extensão da Metamask em metamask.io</p>
                        <p class="white-p">• Cria a uma conta Metamask e guarda as 12 palavras-chave, que serão o backup da tua carteira.</p>
                        <p class="white-p">• Abre a Metamask, clique no canto superior esquerdo e seleciona a network “MATIC Chain”</p>
                        <p class="white-p">• Copia o endereço para a área de transferência que se encontra acima do saldo.</p>
                        <p class="white-p">• Vai até à exchange onde tens as tuas MATIC (Binance, Coinbase ou outra) e encontra o recurso “Enviar” ou “Transferir”.</p>
                        <p class="white-p">• Cola o endereço que foi copiado da Metamask, especifica a quantidade de MATIC e confirma a transação.</p>
                        <p class="white-p">• Aguarda uns momentos até que os fundos cheguem à tua Metamask.</p>
                        
                        <!--  Second Section-->
                        <p class="green-p">Criar e Configurar Trust Wallet (Mobile)</p>
                        <p class="white-p">• Usando o teu telemóvel, baixa e instala a Trust Wallet em trustwalletapp.com</p>
                        <p class="white-p">• Cria um novo portfólio e guarda as 12 palavras-semente (seed words) ou chave privada, que serão o backup da tua carteira.</p>
                        <p class="white-p">• Abre a Trust Wallet. Na página principal seleciona “Receber”.</p>
                        <p class="white-p">• Escolhe a moeda MATIC (Binance Coin) e copia o endereço.</p>
                        <p class="white-p">• Vai até à exchange onde tens as tuas MATIC (Binance, Coinbase ou outra) e encontra o recurso “Enviar” ou “Transferir”.</p>
                        <p class="white-p">• Cola o endereço que foi copiado da Trust Wallet, especifica a quantidade de MATIC e confirma a transação</p>
                        <p class="white-p">• Aguarda uns momentos até que os fundos cheguem à tua Trust Wallet.</p>

                        <!-- Third Section -->
                        <p class="green-p">Comprar FILM TOKEN através da Exchange</p>
                        <p class="white-p">• Depois de iniciares sessão na tua conta Metamask ou Trust Wallet, navega até à nossa Exchange em https://radioverse.com/buy-sell</p>
                        <p class="white-p">• Desce até "COMPRAR" e introduz a quantidade de MATIC (Binance Coin) que pretendes gastar.</p>
                        <p class="white-p">• Clica no botão "COMPRAR". </p>

                        <!-- Forth Section -->
                        <p class="green-p">Reinvestir dividendos utilizando a Exchange</p>
                        <p class="white-p">• Depois de iniciares sessão na tua conta Metamask ou Trust Wallet, navega para a nossa Exchange em https://radioverse.com/buy-sell</p>
                        <p class="white-p">• Desce até "REINVESTIR" e clique no botão "REINVESTIR DIVIDENDOS". </p>
                        <p class="white-p">• A Metamask ou Trust Wallet irá então pedir-lhe para autorizar a transação e atribuir GWEI/Gas (taxa de velocidade da transação).</p>

                        <!--  Fifth Section-->
                        <p class="green-p">Vender FILM usando a Exchange (não recomendado)</p>
                        <p class="white-p">• Depois de iniciares sessão na tua conta Metamask ou Trust Wallet, navega até à nossa Exchange em https://radioverse.com/buy-sell</p>
                        <p class="white-p">• Desce até "VENDER" e introduz a quantidade de FILM que pretendes vender.</p>
                        <p class="white-p">• Clica no botão "VENDER". A Metamask ou Trust Wallet solicitará a autorização da transação e atribuirá GWEI/Gas (taxa de velocidade da transação).</p>
                        <p class="white-p">• Qualquer MATIC resultante da venda é depositado nos teus Dividendos.</p>

                        <!-- Sixth Section -->
                        <p class="green-p">Levantar Dividendos utilizando a Exchange</p>
                        <p class="white-p">• Depois de iniciares sessão na tua conta Metamask ou Trust Wallet, navega até à nossa Exchange em https://radioverse.com/buy-sell</p>
                        <p class="white-p">• Desce até "TRANSFERIR FILM TOKEN" e clica no botão "TRANSFERIR".</p>
                        <p class="white-p">• A Metamask ou Trust Wallet solicitará que autorizes a transação e atribuas GWEI/Gas (taxa de velocidade da transação).</p>

                        <!--  Seventh Section-->
                        <p class="green-p">Importar uma carteira Metamask para a Trust Wallet</p>
                        <p class="white-p">• Abre a Trust Wallet no teu telemóvel e clica em Importar carteira.</p>
                        <p class="white-p">• Cola as palavras-semente secretas e clica em "Importar".</p>
                        <p class="white-p-1">Desfruta dos teus dividendos!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>

</div>